
div.container {
width: 500px;
margin: 0 auto;
background: white;
padding: 30px;
border-radius: 4px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(0, 0, 0, 0.1);

}

body{

font-family: 'Sunflower', sans-serif;
color: rgba(5, 5, 5, 1.0);
background-color: rgba(220,220,220,1);
text-align:center;
margin: 0
}
h1 {
font-family: 'Sunflower', sans-serif;
font-size:32px;
line-height:42px;
color: rgba(5, 5, 5, 1.0);
background-color: rgba(250,250,250,1);
text-align:center;
}
h2{
font-family: 'Sunflower', sans-serif;
font-size:18px;
line-height:20px;
color: rgba(5, 5, 5, 1.0);
background-color: rgba(250,250,250,1);
text-align:center;

}
h3 {

font-family: 'Sunflower', sans-serif;
font-size:16px;
line-height:18px;
color: rgba(255, 255, 255, 1.0);
background-color: #FF1E00;
text-align:center;
padding: 30px;
border: 1px solid lightgrey;

}
p  {
font-family: 'Sunflower', sans-serif;
color: rgba(6, 6, 6, 1.0);
background-color: rgba(250,250,250,1);
text-align:center;
}
link {
  color: rgba(60,60,70,0.9);
  text-decoration: underline;
  text-align: left;
}

a:hover {
    background-color:#FF1E00;
}
.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card-white {
  background-color: white;
  padding: 30px;
  border: 1px solid lightgrey;
}







